html,
body {
  font-size: 20px;
}

body {
  width: 1024px;
  font-family: "Helvetica", "Arial", sans-serif;
  margin: 0 auto;
}

p {
  line-height: 1.8;
}

.root {
  display: flex;
}

aside {
  margin: 10px;
}